@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 100%;
}

a{
    color: #86c043;
}

.wrapper{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

#header{
    padding: 15px 0 10px 0;
}

#header .wrapper:after{
    content: '';
    display: block;
    clear: both;
}

.header-logo, .header-address, .header-contacts{
    float: left;
}

.header-getprice{
    float: right;
}

.header-logo{
    margin-right: 94px;
}

.header-address{
    margin-top: 23px;
    padding-left: 30px;
    background: url('img/address-i.png') no-repeat left top;
    font-weight: 300;
    color: #44464f;
    font-style: normal;
    line-height: 1.3;
    font-size: 18px;
    margin-right: 96px;
}

.header-contacts{
    margin-top: 16px;
}

.header-contacts-phone{
    padding-left: 35px;
    line-height: 1;
    background: url('img/phone-i.png') no-repeat left center;
    margin-bottom: 14px;
}

.header-contacts-phone a {
    color: #44464f;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

.header-contacts-phone a b{
    font-weight: 600;
}

.header-contacts-email{
    padding-left: 35px;
    line-height: 1;
    background: url('img/mail-i.png') no-repeat left center;
}

.header-contacts-email a{
    font-weight: 500;
}   

.header-getprice{
    margin-top: 16px;
}

.header-getprice a{
    display: block;
    color: #fff;
    width: 220px;
    height: 55px;
    line-height: 55px;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    background-color: #86c043;
    background-image: url('img/price-i.png');
    background-repeat: no-repeat;
    background-position: 37px center;
}

.header-getprice a:hover{
    opacity: .8;
}

.header-bottom-menu{
    border-top: 1px solid #cbcccd;
}

.header-bottom-menu ul:after{
    content: '';
    display: block;
    clear: both;
}

.header-bottom-menu ul li{
    height: 67px;
    line-height: 67px;
    float: left;
    position: relative;
    top: -1px;
}

.header-bottom-menu ul li a{
    padding: 0 30px;
    color: #44464f;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.header-bottom-menu ul li.home a{
    background: url('img/home-i.png') no-repeat 18px center;
    padding-left: 52px;
}

.header-bottom-menu ul li.current a{
    background-color: #ffd307;
}

.header-bottom-menu ul li a:hover{
    background-color: #888;
}

/* HOME SLIDER */

.home-slider{
    position: relative;
    top: -1px;
}

.home-slider-item{
    height: 500px;
    padding-top: 130px;
    padding-left: 260px;
    box-sizing: border-box;
}

.home-slider-item1{
    background: url('img/slide.jpg') no-repeat center center;
}

.home-slider-item a{
    text-decoration: none;
}

.home-slider-item-title{
    font-weight: 900;
    font-size: 56px;
    color: #86c043;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(68, 70, 79, 1);
    margin: 0;
}

.home-slider-item-descr{
    font-weight: 300;
    margin: 0;
    color: #44464f;
    font-size: 40px;  
}

.home-news-title{
    line-height: 152px;
    font-size: 36px;
    color:#86c043;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.home-news-title:after{
    content: '';
    display: block;
    clear: both;
}


.home-news-item{
   width: 404px;
   height: 446px;
   display:block;
   float: left;
   margin-right: 10px;
   background-color:#f5f6f8;

}

.home-news-item3{
    margin: 0;
    float: right;
    width: 404px;
    height: 446px;
    display:block;
    background-color:#f5f6f8;
}

.home-news:after{
    content: '';
    display: block;
    clear: both;
}

#footer{
    max-width: 100%;
    padding: 30px 0px 56px 0px;
    display: block;
    height: 355px;
    background-color:#689434;
    margin-top: 55px;

}


.footer-col1, .footer-col2, .footer-col3, .footer-col4{
    float: left;
    padding: 0;
    margin: 0;
    display:block;
}

.footer-col1{
    padding-top: 30px;
    padding-bottom: 100px;
    width: 325px;
    font-size: 15px;

}


.footer-about{
   color:#d5e0cb;
   text-align: left;
   
}


.home-news-item3 a, .home-news-item a{
    text-decoration: none;
    
}


.footer-col2{
   
    padding-top: 40px;
    padding-bottom: 90px;
    margin-left: 99px;
    line-height: 2.9em;
    text-transform: uppercase;
    
}

.footer-col-title{
    margin:0;
    padding: 0px;
    color: #ffd307;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

}


.footer-menu ul li a{
    text-decoration: none;
    color: #cad8bd;
    font-weight: 600;
  
}


.footer-col3{
    margin-left: 83px;
    padding-top: 52px;
    padding-bottom: 80px;
    

}

.footer-news-image{
    float: left;
    width: 85px;
    height: 73px;
 
  
}

.footer-news-title{
    padding-left: 5px;
    text-decoration: none;
    color: #cad8bd;
    
}

.footer-col4{
    margin-left: 12px;
    padding-top: 52px;
  
}



.footer-address{
    background: url('img/fc1.png') no-repeat left center;
    padding-left: 30px;
  
}

.footer-phone{
    background: url('img/fc2.png') no-repeat left center;
    display: block;
    padding-left: 30px;
    line-height: 2.5em;
   
    
}

.footer-email{
    background: url('img/fc3.png') no-repeat center left;
    display: block;
    padding-left: 30px;
    color: #ffd307;
    line-height: 2.5em;

}

.footer-worktime{
    background:url('img/fc4.png') no-repeat center left;
    display: block;
    padding-left: 30px;
  
}

.footer-phone{
    color: #cad8bd;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

.footer-phone  b{
    font-weight: 600;
}

