
    

body {
    background: url(img/фон.jpg) no-repeat;
    background-size: cover;
    position: fixed;}

    #kosmos {
    position: relative;  
    max-width: 1000px;
    max-height: 1000px;;  
 }

                                                                                                                                                                        
.gumonoid {
    max-height: 90px;
    max-width: 85px;
    position: fixed;}

.zvezda {
    max-height: 15%;
    max-width: 7%;
    position: fixed;
    right: 40px;}

.zemlia {
    max-height: 90px;
    max-width: 90px;
    top: 40px;
    left: 320px;
    position: absolute;}

.korabl {
    max-height: 20%;
    max-width: 10%;
    left: 190px;
    position: absolute;}    
    
.kosmonavt {
    max-height: 30%;
    max-width: 25%;
    top: 250px;
    right: 200px;
    position: absolute;}
    
.mars {
    max-height: 30%;
    max-width: 25%;
    top: 240px;
    left: 160px;
    position: absolute;}
    
.mesiac {
    max-height: 15%;
    max-width: 8%;
    top: 300px;
    right: 30px;;
    position: absolute;}
    
.solnce {
    max-height: 17%;
    max-width: 10%;
    top: 130px;
    left: 250px;
    position: absolute;;}

.sputnik {
    max-height: 20%;
    max-width: 15%;
    top: 150px;
    left: 400px;
    position: absolute;}

.planet {
    max-height: 20%;
    max-width: 15%;
    top: 200px;
    position: absolute;}
