@import url('https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

* {
  box-sizing: border-box;
}


.wrapper {
  max-width: 1280px;
  margin: 0 auto;

}

a {
  text-decoration: none;  
}



/*HEADER*/

#header .wrapper{
  padding: 27px 135px 27px 180px;
  background-color: #4b96a1;
}

#header .wrapper{
  display:flex;
  justify-content: space-between;
  align-items:center;
 
}

.header-title-name-h3{
  font-family: 'Cherry Swash', cursive;
  font-size: 32px;
  font-weight: normal;
  color:#d9e6e8;
  
}

.header-menu-item{
  font-family: 'Helvetica LT Std';
  font-size: 14px;
  font-weight: 600;
  color: #d4dfe0;
  text-transform: uppercase;
  margin-top: 40px;
  
}

.header-menu-item-slash{
  padding: 0 22px;
}


/* MAIN */
/* MAIN-SLIDER */

.main-slider .wrapper{
  padding: 128px 382px 80px 328px;
  background: url(img/sea.jpg) no-repeat center center;
  position: relative;
  background-size: cover;
  min-height: 475px;
  display: flex;
  flex-direction: column;
  
}

.main-slider-text{
  font-family: 'Helvetica LT Std';
  color:#e4e4e4;
  font-size:32px;
  text-transform: uppercase;
  text-align:center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;

}

.readmore{
  font-family: 'Helvetica LT Std';
  font-size: 22px;
  letter-spacing: 0.07em;
  border-radius: 10px;
  font-weight: 400;
  color:#fff;
  border: 3px solid #e4e4e4;
  padding: 11px 41px 11px 47px;
  box-sizing:border-box;
  position: absolute;
  bottom: 158px;
  left: 520px;

}

.main-slider-bullet{
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 575px;

}

.bullet {
  width: 7px;
  height:7px;
  background-image: radial-gradient(#fff 0%, #fff 70%, transparent 70%);
  margin: 0 6px;
   
  }

.bullet:nth-child(3){
  width: 7px;
  height:7px;
  background-image: radial-gradient(#69728c 0%, #69728c 70%, transparent 70%);
  margin: 0 6px;

  }
  
.main-custom-selection{
  display: flex;
  padding: 80px 210px 0px 210px;
  font-family: 'Helvetica LT Std';
  min-height: 444px;
  position: relative;
    
    
  }


.custom-selection-text1{
  margin-bottom: 35px;
  font-family: 'Helvetica LT Std';
  font-weight: 300;
  text-align: center;
  color:#4c505d;
  line-height: 38px;
	font-style: normal;
  font-size: 22px;
  color:#5d616c;
  letter-spacing: 0.1em;
  }

  .custom-selection-text2{
  font-weight: 300;
  text-align: center;
  font-family: 'Helvetica LT Std';
  line-height: 22px;
  color:#4c505d;
  
  }

.custom-selection-functional-icons{
  padding: 80px 428px 80px 425px;
  
  }

.custom-selection-functional-icons-planet{
  padding: 0 120px;
  
  }


/* main-quote*/  

 

.main-quote .wrapper{
  display: flex;
  flex-direction: column;
  background-color: #00d089;
  padding: 95px 160px 95px 205px;
  height: 470px;
  

} 
 
.main-quote-avtor-blocks{
  display: flex;
  padding-left: 363px;
  
}

.main-quote-avtor-img{
  height: 145px;
 
}


.main-quote-avtor-name{ 
  display: flex;
  flex-direction: column;
  height: 190px;

}

.main-quote-text-block1{
  font-family: 'Helvetica LT Std';
  font-size: 22px;
  font-weight: bold;
  color:rgba(228, 228, 228);
  text-transform: uppercase;
  margin-left: 30px;

  

}

.main-quote-text-block2{
  font-family: 'Helvetica LT Std';
  font-size:334px;
  color:rgba(228, 228, 228, .5);
  height:100px;
  line-height: .7em;
  margin-left: 12px;
 
}

.main-quote-text-block3{
  font-family: 'Helvetica LT Std';
  font-size: 16px;
  font-weight: 400;
  color:rgba(228, 228, 228);
  line-height: 1.6em;
  padding-left: 75px;

  
}

/*Main-check-in*/ 

.main-check-in .wrapper{
  height: 515px;
  background: url(img/map.jpg) center center no-repeat;
  position: relative;
  background-size: cover;
  


}

.main-check-in-form-circle{
  position: absolute;
  width: 430px;
  height: 430px;
  left: 33%;
  bottom: 5%;
 


}

.main-check-in-form{
  
}

/*Footer*/

#footer .wrapper{
    height: 40px;
    padding: 12px 0px 16px 0px;
    background: #00d089;

}

.footer-copyright{
  font-family: 'Helvetica LT Std';
  font-size: 12px;
  text-transform: uppercase;
  color:#d1f3e3;
  text-align: center;
}

    